* {
    background-color: cornflowerblue;
    font-family: "Comic Sans MS";
}
#p1 {
    background-color: aliceblue;
}
#p2 {
    background-color: lightpink;
}
input {
    background-color: white;
}
.border {
    border: 2px solid blueviolet;
    margin: 1rem;
}